* {
    border-radius: 0 !important;
    font-family: Georgia, serif!important;
    /* overflow: hidden!important; */
  }

  html {
    scroll-behavior: smooth!important;
  }

  .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none!important;
 }

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #223843!important;
    border: #223843!important;
  }
.btn-primary:not(:disabled):not(.disabled):focus{
    background-color: #D77A61!important;
}
    
.btn-primary:hover {
    background-color: #D77A61!important;
}


body {
    background-color: #54626F;
    background-image: url(/img/dscbg.jpg);
    width: 100%;
    height: 100vh;

    background-attachment: fixed;
    background-position-x: 60%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden;
    
}


#navmain {
    /* background-color: #495867; */
    border-collapse: collapse;
    padding: 0; 
    padding-right: 6em;
    margin: 0;
    font-weight: light;
    /* float: right; */
}

/* .navbar-nav > li{
    margin-left:11%;
    margin-right:11%;
    padding: 11%;
  } */

.nav-item {
    background-color: 495867;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    font-size: 20px;
    font-weight: bold;
    
}


.nav_link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.nav-item:hover{
    color: white;
    background-color: #D77A61;

}


.nav_link:hover {
    color: white;
    text-decoration: none
}

#jb {
    /* background-color: #7b3c3c; */
    /* background-color: #EFF1F3; */
    /* background-size: 100%; */
    
    color: #223843;
    padding: 2%;
    padding-left: 5%;
    padding-bottom: 10%;
    padding-top: 10%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    filter: blur(2px);
    animation: fade-in 1s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#jb h1{
    font-size: 4em;
    font-weight:900;
}

#jb p{
    font-size: 2em;
}

@keyframes fade-in {
100% {
      opacity: 1;
      filter: blur(0);
    }
}

#spacer{
    padding: 15em;
    
    background-image: url(/img/dscbg_col.jpg);
    height: 100%; 


    background-attachment: fixed;
    background-position-x: 60%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden;

}
#prt-spacer{
    padding: 3%
}

#flex_spacer{
    padding: 30%;
}

#about{
    background-color: rgb(73, 88, 103, 0);
    color: #fff;;
    font-weight: 100;
    padding-bottom: 4%;
}

#portfolio{
    background-color: rgb(73, 88, 103, 0);
    color: #fff;;
    font-weight:100;
  
    padding-bottom: 4%;
}




#abt-l{
    padding-left: 10%;
    animation-delay: 2s;
}
#abt-r{
    padding-right: 10%;
    animation-delay: 2s;
}

#prt-l1{
    padding-right: 3%;
    animation-delay: 2s;
}
#prt-r1{
    padding-left: 3%;
    animation-delay: 2s;
}

#sec-hdr {
    padding: 2%;
}
#sub-ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(34, 56, 67, 0.5); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 12px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #D77A61; /* Add a dark-grey background on hover */
  }



.fade-in {
    opacity: 0;
    transition: opacity 300ms ease-in;

}


.fade-in.appear {
    opacity: 1;
}

#footer{
    padding: 8em;
    background-color: rgba(34, 56, 67,0.5);
    color: #fff;
    font-size: 12px;

    /* background-attachment: fixed;
    background-position-x: 60%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden; */

}